@font-face {
  font-family: "Poppins";
  src: url("./Assets/Fonts/Poppins-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("./Assets/Fonts/Poppins-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("./Assets/Fonts/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("./Assets/Fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  src: url("./Assets/Fonts/Poppins-Italic.ttf");
  font-weight: 400;
}

body {
  padding: 0 5%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  margin: 2em 0;
}

header > h2 {
  margin: 0;
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

header > button {
  font-family: Poppins;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  background: #000000;
  border-radius: 7px;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

header > button:hover {
  background-color: #ffffff;
  color: #000;
}

.container {
  display: flex;
  align-items: flex-end;
}

.leftSection {
  width: 50%;
}

.leftSection > h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  color: #050505;
  width: 90%;
}

.leftSection > p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #050505;
  width: 70%;
}

.inputDiv {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  height: 75px;
  background: #ffffff;
  border: 1.5px solid #000000;
  border-radius: 10px;
  position: relative;
  width: 80%;
}

.dropdownMain {
  width: 20%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.dropdownMain > img {
  border-radius: 50%;
}

.dropdownMain > i {
  cursor: pointer;
  color: #050505;
}

.inputDiv > input {
  width: 80%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  font-family: Poppins;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  border: none;
  outline: none;
  text-indent: 20px;
}

input::placeholder {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #d7e6e7;
}

.networkProvider {
  height: 40px;
  width: 40px;
  display: block;
  position: absolute;
  right: 20px;
}

.networkProvider > img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inputDiv > span:nth-child(5) {
  font-family: Poppins;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #e20010;
  position: absolute;
  left: 0;
  bottom: -30px;
  display: none;
}

footer {
  margin: 6rem 0 0 0;
  display: flex;
  align-items: center;
  gap: 28px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 76px;
  color: #0c0c0c;
  opacity: 0.7;
}

.dropdown {
  height: 258px;
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
  position: absolute;
  top: 100px;
  left: 0;
  overflow-y: scroll;
  z-index: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
  transition: all 0.3s ease-in-out;
}

.dropdown > div {
  padding: 0.5rem 2rem;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #0c0c0c;
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}

.dropdown > div:hover {
  background: #f9f9f9;
}

.dropdown > div > img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

#dropdownMainInner {
  border: 3px solid green;
}
.dropdown.active {
  display: block;
}

.fa-solid.fa-angle-down {
  transition: all 0.3s ease-in-out;
}

.fa-solid.fa-angle-down.active {
  transform: rotate(-180deg);
  transition: all 0.3s ease-in-out;
}

.dropdown > div {
  list-style-type: none;
}

.rightSection {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightSection > img {
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  body {
    border: 2px solid black;
    width: 100vw;
  }
  .container {
    flex-direction: column;
    border: 1px solid green;
    text-align: center;
  }

  .leftSection {
    width: 100%;
  }

  .leftSection > h1 {
    width: 70%;
    font-size: 33px;
    line-height: 40px;
    margin: auto;
  }

  .leftSection > p {
    width: 80%;
    font-size: 13px;
    font-size: 13px;
    line-height: 20px;
    margin: 1.8rem auto 0 auto;
  }

  .righttSection {
    width: 100%;
  }

  .inputDiv {
    margin: 3rem auto;
    display: flex;
    align-items: center;
    height: 75px;
    background: #ffffff;
    border: 1.5px solid #000000;
    border-radius: 10px;
    position: relative;
    width: 80%;
  }
}
